html {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding-top: 40px;
}

.item {
  border: 2px solid;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  align-items: center;
  background-color: #fff;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: #0039a6;
  color: white;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 5px;
}

.cart {
  display: flex;
  flex-basis: 30vw;
  flex-flow: column wrap;
  padding: 40px 20px 0;
}

.cart .cart__title {
  flex-basis: 1;
  font-size: 16pt;
  text-align: center;
}

span.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item__title, .cart__item, .total{
  font-size: 15px;
  font-family:"arial",sans-serif;
  font-weight: 400;
}

li.cart__item {
  margin-bottom: 15px;
  list-style: none;
}

.total-price {
  font-weight: 700;
  font-size: 17px;
}

.item .item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
